---
version: "3.7"

services:
  bot:
    image: diraol/nosso_bot:latest
    deploy:
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
      secrets:
        - token

secrets:
  token:
    external: true
